/* 
label: Amarillo Pastel
value: yellow-pastel
description: Amarillo suave y delicado
*/

:root.theme-yellow-pastel {
    --theme-primary: #ffffcc;
    --theme-accent: rgba(255, 255, 204, 0.7);
    --theme-text-on-primary: #000000;
}